<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand">
        <img src="https://87fb1a59642a0c91951c.cdn6.editmysite.com/uploads/b/87fb1a59642a0c91951c909556406fd3cfcad26c8853b81b871d9ff3f3da2693/Athletics%20Logo%20transparent_1706732435.png?width=2400&optimize=medium"
        width="40" height="40">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/survey-page']">Survey</a>
        </li>
      </ul>
      <!-- <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
        <li class="nav-item" role="presentation">
          <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" [routerLink]="['']">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" [routerLink]="['/survey-page']">Survey</button>
        </li>
      </ul> -->
    </div>
  </nav>