
.background {
  background: url(https://images.sidearmdev.com/convert?url=https%3a%2f%2fdxbhsrqyrr690.cloudfront.net%2fsidearm.nextgen.sites%2funionathletics.com%2fimages%2f2021%2f5%2f11%2f2019_Union_AerialPhotos_11.png&type=webp) no-repeat center;
  background-size: cover;
  width: 100%;
}

.background:before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.background h1 {
  font-size: 1.5em;
}

.background h2 {
  font-size: 1.2em;
}